# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
*.log

# Django
*.sqlite3
media/
static/

# Frontend
node_modules/
build/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
*.pem 